*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: inherit;
    color: inherit;
}
.app{
    min-height: 100vh;
}
#checkbox{
    display: none;
}
@media (min-width: 1px) and (max-width: 350px){
.question{
    font-size: 15px;
}
.btn{
    width: 100px;
}
.data{
    font-size: 10px;
}
}